<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        var loginverif = false;

        $(document).ready(function () {
            var login = document.getElementById('loginMember_username').value;
            if (login != null) {
                loginverif = true;
            }
        })

        function writing() {
            if (loginverif === true) {
                window.location.href = "/boardWrit";
            }
            if (loginverif === false) {
                alert("로그인 먼저 해주세요");
            }
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{/}">CRUD 게시판</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <div th:if="${loginMember != null}" class="d-flex justify-content-end">
                    <div class="nav-item">
                        <a class="nav-link" aria-current="page" th:text="${loginMember.username}"></a>
                    </div>
                    <div class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-link">로그아웃</button>
                        </form>
                    </div>
                </div>
                <div th:if="${loginMember == null}" class="d-flex justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/createMember}">회원가입</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>

<div> 총 게시글 수 : <span>19</span></div>

<form method="get" th:action="@{/board}">
    <div class="col-6 d-flex justify-center">
        <label for="title" class="visually-hidden">검색</label>
        <input type="text" class="form-control flex-grow-1 me-2" id="title" name="title">
        <button type="submit" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search">
                <path d="M11.742 9.672a6.5 0 1 1-1.071-1.071 6.5 0 1 1 1.071 1.071z"></path>
            </svg>
        </button>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">게시물</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
        <th scope="col">조회수</th>
    </tr>
    </thead>
    <tbody th:each="boards : ${boardAll}">
    <tr>
        <th scope="row">
            <a th:text="${boards.id}">1</a>
        </th>
        <td>
            <span th:text="${boards.title}">제목</span>
        </td>
        <td th:text="${boards.writer}">작성자</td>
        <td th:text="${#temporal.format(boards.dateTime, 'yyyy-MM-dd')}">오늘작성</td>
        <td th:text="${boards.views}">100</td>
    </tr>
    </tbody>

</table>

<div class="d-flex justify-content-end">
    <button onclick="writing()">글쓰기</button>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<div th:if="${loginMember != null}">
    <input type="hidden" id="loginMember_username" th:value="${loginMember.username}">
</div>
</body>
</html>
